*{
margin: 0%;
padding: 0%;
}

#logo {
    width: 5%;
    height: 5%;
}
.header-pai{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}   

#banner {
width: 100%;
}
nav li {
    display: inline;
   padding: 20px;
}

nav a {
    text-transform: uppercase;
    color: rgb(107, 243, 243);
    font-size: 30px;
    text-decoration: rgb(240, 241, 241);
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover {
    color: rgb(124, 133, 133);
    text-decoration: underline;

}

h1 {
    text-align: center;
    color: rgb(0, 255, 255);
    text-transform: uppercase;
}

body {
    background: rgb(103,103,103);
background: radial-gradient(circle, rgba(103,103,103,0.9444152661064426) 0%, rgba(23,23,23,1) 100%);
}

.texto {
background-color: rgb(192, 192, 192);    
font-size: 35px;
text-align: center;
}