h1 {
    text-align: center;
    color: aqua;
    text-transform: uppercase;
}

body {
    background: rgb(184,185,191);
background: radial-gradient(circle, rgba(184,185,191,0.9444152661064426) 0%, rgba(24,24,23,1) 100%);
}