*{
margin: 0%;
padding: 0%;
}

img {
width: 100%;
}

h1 {
    text-align: center;
    color: rgb(0, 255, 255);
    text-transform: uppercase;
}

body {
    background: rgb(103,103,103);
background: radial-gradient(circle, rgba(103,103,103,0.9444152661064426) 0%, rgba(23,23,23,1) 100%);
}

div {
background-color: rgb(192, 192, 192);    
font-size: 35px;
text-align: center;
}